<div class="flex-container">

    <mat-card class="mainCard col-5" routerLink="/players"  matTooltip="Click to manage your players">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Your Players - click to manage them</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://image.freepik.com/free-vector/table-soccer-players_23-2147507076.jpg" alt="Photo of soccer players">
        <mat-card-content>
            <img src="https://image.yayimages.com/1600/photo/vector-illustration-red-player-table-football-competition-202182138.jpg"    alt="Another photo">      
        </mat-card-content>
      </mat-card>


    <mat-card class="mainCard col-5" routerLink="/login">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Teams</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i5.walmartimages.com/asr/25bf1b57-708e-4c6c-9092-bfdae1017c35_1.5cb246bbd48ef371c307075d1fcf25bb.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff" alt="Photo of a Shiba Inu">
        <mat-card-actions>
        
        </mat-card-actions>
      </mat-card>



</div>